@import 'libs/font-awesome/scss/variables';

$path-fonts: '../fonts/';
$path-average-fonts: '#{$path-fonts}Average/';
$path-monstserrat-fonts: '#{$path-fonts}Montserrat/';
$path-wildyouth-fonts: '#{$path-fonts}WildYouth/';
$path-font-awesome-fonts: '#{$path-fonts}font-awesome/';

$base-f-color: #fff;
$color-fishy: #e4bb7a;
$text-1: #1b1b1b;

$bg-color-1: rgba(36, 36, 36, 1);
$bg-color-2: #3f3f3f;
$bg-color-3: #fdfeff;
$bg-color-4: #e3e3e3;
$bg-color-5: #292929;
$bg-color-6: #1a1a1a;
$bg-color-7: #feffff;
$bg-color-8: #e2e2e2;
$bg-color-9: #ccc;

$padding-arrow: 70px;
$arrow-link: '../images/arrow.png';
$restaurant-bg: '../images/restaurant.jpg';

$media-br-1: 768px;
$media-br-2: 992px;
$media-br-3: 1200px;

$ie9hack: '0\0';
