@import '../variables';
@import '../common';
@import '../mixins';

.welcome-section {
  padding-top: 7em;
  overflow: hidden;

  .title {
    @include block-border-box;
    padding-bottom: 90%;
    background-image: url('../images/white-chair.jpg');
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: 60%;
    float: left;
    width: 100%;

    h1 {
      @include block-border-box;
      @include josefin-fonts;
      display: block;
      color: $grey-3;
      font-weight: 700;
      font-size: 7em;
      width: 100%;
    }

    small {
      @include josefin-fonts;
      position: relative;
      top: -30px;
      left: 15%;
      font-weight: 700;
      color: $grey-4;
      display: block;
      font-size: 30px;
    }

    p {
      @include block-border-box;
      @include lato-font;
      font-size: 1.5em;
      font-weight: 300;
      padding: 1em;
      text-align: justify;

      a {
        @include liberation-fonts;
        position: relative;
        display: block;
        padding: 1em 0 1em 28px;
        font-size: .5em;
        text-decoration: none;
        color: $grey-4;
        font-weight: 700;

        &::before {
          display: block;
          position: absolute;
          top: .75em;
          left: 0;
          content: '';
          width: 15px;
          height: 15px;
          padding: 5px;
          border-radius: 50%;
          background-color: $grey-6;
          background-image: url('../images/more-btn.png');
          background-repeat: no-repeat;
          background-origin: content-box;
        }
      }
    }
  }

  .anim-container {
    display: none;
  }

  &::after {
    clear: both;
  }

  @media screen {
    @media (min-width: $media-br-1) {

      .title {
        padding-bottom: 0;
        background-image: none;
        width: 60%;

        h1 {
          font-size: 1.5em;
        }

        small {
          top: -40px;
          left: 50%;
          font-size: 3em;
        }
      }

      .anim-container {

        display: block;
        width: 100%;
        float: right;
        margin-bottom: 1em;

        .slider {
          display: block;
          margin: 0 auto;
          width: 531px;
          height: 696px;

          .slide {
            position: absolute;
            width: 531px;
            height: 696px;
            background-color: transparent;
            z-index: 1;
            overflow: hidden;
            display: none;

            .panel {
              overflow: hidden;
              position: absolute;
              height: 50%;
              width: 50%;
              background-image: url('../images/white-chair-yl.jpg');
              transition-duration: 1s;
              transition-property: transform;

              &:nth-of-type(1) {
                background-position: 0 0;
                //transform: translateY(-348px) translateX(-265.5px);
                transform: translateX(-265.5px);
              }

              &:nth-of-type(2) {
                background-position: 100% 0;
                //transform: translateY(-348px) translateX(265.5px);
                transform: translateY(-348px);
              }

              &:nth-of-type(3) {
                background-position: 0 100%;
                //transform: translateY(348px) translateX(-265.5px);
                transform: translateY(348px);
              }

              &:nth-of-type(4) {
                background-position: 100% 100%;
                //transform: translateY(348px) translateX(265.5px);
                transform: translateX(265.5px);
              }

              &:nth-of-type(2),
              &:nth-of-type(4) {
                left: 50%;
              }

              &:nth-of-type(3),
              &:nth-of-type(4) {
                top: 50%;
              }
            }
          }
        }
      }
    }

    @media (min-width: $media-br-2) {
      width: 90%;
      height: 700px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;

      .title {
        width: 60%;
        position: absolute;
        float: none;
      }

      .anim-container {
        position: absolute;
        float: none;
        left: 68%;
        height: 100%;
        top: 0;
        margin: 0;

        .slider {
          margin: 0;
        }
      }

      h1 {
        font-size: 12em;
      }

      p {
        width: 70%;
        margin-left: 15%;
      }

    }

    @media (min-width: $media-br-3) {
      max-width: 1680px;
      margin: 0 auto;

      p {
        margin-left: 10%;
        width: 50%;
      }

      .anim-container {
        left: 60%;
      }

      .title {

        h1 {
          font-size: 15em;
        }

        small {
          left: 35%;

        }
      }
    }
  }
}
