@import '../variables';
@import '../common';
@import '../mixins';

.navbar {
  @include set-to-zero;
  @include block-border-box;
  position: fixed;
  background-color: white;
  z-index: 50;
  width: 100%;

  .nav {
    @include block-border-box;
    width: 100%;
    overflow: hidden;

    &::after {
      clear: both;
    }
  }

  .menu-headers {
    @include block-border-box;
    float: left;
    width: 100%;
    padding: 3px;

    &::after {
      clear: both;
    }

    .logo {
      @include josefin-fonts;
      @include block-border-box;
      width: 3.5em;
      float: left;
      color: $grey-5;
      font-size: 40px; //3.8em;
      font-weight: 700;
    }

    .nav-btn {
      @include block-border-box;
      width: 40px;
      float: right;

      button {
        @include set-to-zero;
        @include block-border-box;
        outline: 0;
        overflow: hidden;
        background-color: transparent;
        height: 40px;
        width: 40px;
        border-radius: 3px;
        background-image: url('../images/hamb.png');
      }
    }
  }

  .menu-items {
    float: right;
    box-sizing: border-box;
    overflow: hidden;
    display: none;
    width: 100%;

    ul {
      @include block-border-box;
      overflow: hidden;
      display: block;
      width: 100%;
      list-style-type: none;
      text-align: center;
      padding: 1em 0;
      color: $grey;

      li {
        @include block-border-box;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        font-size: 1.5em;
        float: left;
      }
    }

    a {
      @include lato-font;
      color: $grey;
      text-decoration: none;
      font-weight: 300;
      display: inline-block;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid $grey;
      }

      &::first-letter {
        text-transform: capitalize;
        font-weight: 700;
      }
    }

  }

  @media screen {

    @media (min-width: $media-br-1) {

      .menu-headers {
        float: left;
        width: 21%;

        .logo {
          font-size: 3.8em;
        }

        .nav-btn {
          display: none;
        }
      }

      .menu-items {
        display: block;
        float: right;
        overflow: hidden;
        width: 78%;
        padding-top: .5em;

        ul {
          @include block-border-box;
          overflow: hidden;
          display: block;
          width: 85%;
          margin-left: auto;

          li {
            overflow: hidden;
            float: left;
            width: auto;
          }

          a {
            padding: 0 10px;
          }

          &::after {
            clear: both;
          }
        }
      }
    }

    @media (min-width: $media-br-2) {
      .nav {
        width: 90%;
        margin: 0 auto;
      }

      .menu-items {
        ul {
          width: 70%;
        }
      }
    }

    @media (min-width: $media-br-3) {

      .nav {
        max-width: 1680px;
        margin: 0 auto;
      }

      .menu-items {
        ul {
          width: 60%;
        }
      }
    }
  }
}
