@import '../variables';
@import '../common';
@import '../mixins';

.home-section {

  text-align: center;
  background-image: url('../images/white-chair-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
  position: relative;

  .description {
    margin: .5em 1em 0;
    background-color: rgba(255, 255, 255, .55);
    padding-bottom: 1em;
    position: absolute;
    bottom: 10%;
    left: 0;

    button {
      @include josefin-fonts;
      cursor: pointer;
      margin: .5em auto;
      color: $grey-2;
      padding: 5px 0 5px 88px;
      height: 80px;
      font-size: 2em;
      font-weight: 300;
      display: block;
      background-color: transparent;
      position: relative;
      outline: 0;

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $grey-5;
        top: 0;
        left: 0;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $grey-3;
        background-image: url('../images/play-btn.png');
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center center;
        top: 12.5px;
        left: 12.5px;
      }
    }

    h2 {
      @include h2-all;
    }

    p {
      @include p-all;
    }
  }

  .viewer {
    position: absolute;
    transition-duration: 1s;
    transition-property: width, opacity;
    top: 2%;
    left: 15%;
    width: 0;
    opacity: 0;
    height: auto;
    background-color: $grey-3;
    padding: 1px;
  }

  @media screen {
    @media (min-width: $video-br-1) {

      .viewer {
        top: 1%;
        left: 22.5%;
      }
    }
    @media (min-width: $video-br-2) {

      .viewer {
        top: 1%;
        left: 27.5%;
      }
    }

    @media (min-width: $media-br-1) {
      padding-top: 0;
      background-size: 55%;
      height: 420px;

      .description {
        margin: 0;
        background-color: white;
        padding: 0;
        position: absolute;
        height: 100%;
        top: 0;
        left: 50%;

        button {
          margin-top: 2em;
          font-size: 3em;
        }
      }

      .viewer {
        top: 7%;
        left: 7%;
      }

    }

    @media (min-width: $media-br-2) {
      width: 90%;
      margin: 0 auto;
      background-size: contain;
      height: 780px;

      .description {
        position: absolute;
        height: 100%;
        top: 0;
        left: 60%;
      }

      .viewer {
        top: 10%;
        left: 7.5%;
      }

    }

    @media (min-width: $video-br-3) {

      .viewer {
        top: 10%;
        left: 10%;
      }
    }

    @media (min-width: $media-br-3) {
      max-width: 1680px;
      margin: 0 auto;

      .viewer {
        top: 10%;
        left: 5%;
      }
    }
  }
}
