@import '../variables';
@import '../common';
@import '../mixins';

.business-section {
  @include block-border-box;
  width: 100%;

  h2 {
    @include h2-all;
  }

  p {
    @include p-all;
  }

  .description {
    @include block-border-box;
    text-align: center;
    background-image: url('../images/chair-books.jpg');
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: 65%;
    padding-top: 75%;
    position: relative;

    & > div {
      margin: .5em 1em 0;
      background-color: white;
      padding-bottom: 1em;
    }
  }

  .sliders {
    @include block-border-box;
    width: 99%;
    overflow: hidden;
    margin: 1em auto;
    perspective: 1500px;

    .chair-slider {

      @include block-border-box;
      border-radius: 10px;
      border: 10px solid $grey-6;
      overflow: hidden;
      width: 45%;
      height: 0;
      margin: 0 auto;
      padding-bottom: 59.2%;
      position: relative;
      transform: rotateZ(-3deg) rotateY(-10deg) scale(.8, .8);
      transition-property: transform;
      transition-duration: .5s;

      &:hover {
        transform: rotateZ(3deg) rotateY(10deg) scale(.9, .9);
      }

      & > .container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        height: 100%;
        background-image: url('../images/chairs.jpg');
        background-size: 200% 100%;
        background-repeat: no-repeat;
        transition-duration: .4s;

        &:hover {
          background-position: 100% 0;
        }
      }

    }

    .chairs-slider {
      @include block-border-box;
      transform: rotateZ(3deg) rotateX(10deg) scale(.8, .8);
      transition-property: transform;
      transition-duration: .4s;
      border-radius: 10px;
      border: 10px solid $grey-6;
      overflow: hidden;
      width: 80%;
      height: 0;
      margin: 0 auto;
      padding-bottom: 44.88%;
      position: relative;

      &:hover {
        transform: rotateZ(-3deg) rotateX(-10deg) scale(.9, .9);
      }

      .container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        height: 100%;
        background-image: url('../images/chair-table-cr.jpg');
        background-repeat: no-repeat;
        background-size: 100% 200%;
        transition-duration: .5s;

        &:hover {
          background-position: 0 100%;
        }
      }
    }
  }

  @media screen {

    @media (min-width: $media-br-1) {

      .description {
        @include block-border-box;
        text-align: center;
        background-position: center right;
        background-size: 30%;
        padding-right: 35%;
        padding-top: 0;
      }

      .sliders {

        .chair-slider {
          width: 379px;
          padding-bottom: 504px;
        }

        .chairs-slider {
          width: 80%;
          padding-bottom: 44.88%;
        }
      }
    }

    @media (min-width: $media-br-2) {
      width: 90%;
      margin: 0 auto;

      .description {
        height: 580px;
        background-position: center right;
        background-size: 50%;
        padding-right: 480px;
        padding-top: 0;
      }
    }

    @media (min-width: $media-br-3) {
      max-width: 1680px;
      margin: 0 auto;

      .description {
        height: 580px;
        background-position: top right;
        background-size: contain;
        padding-right: 580px;
        padding-top: 0;
      }

      .sliders {

        .chair-slider {
          margin: 0;
          float: left;
        }

        .chairs-slider {
          margin: 0;
          float: left;
          width: 64%;
          padding-bottom: 35.35%;
        }
      }
    }

    @media (min-width: $media-br-4) {
      .sliders {
        width: 1400px;

        .chairs-slider {
          margin: 0;
          float: left;
          width: 1012px;
          padding-bottom: 561px;
        }
      }
    }
  }
}
