@import 'libs/ionicons/ionicons';
@import 'variables';
@import 'mixins';
@import 'utils/fonts';

@include custom-font-mixin('Roboto', 'roboto-thin', 100, normal, $path-roboto);
@include custom-font-mixin('Roboto', 'roboto-light', 300, normal, $path-roboto);
@include custom-font-mixin('Roboto', 'roboto-regular', 400, normal, $path-roboto);
@include custom-font-mixin('Roboto', 'roboto-bold', 700, normal, $path-roboto);
@include custom-font-mixin('ion icons', 'ionicons', 400, normal, $path-ionicons);

*,
html,
body {
  @include font-roboto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  background-color: white;
}

.main {
  max-width: 1700px;
  margin: 0 auto;
  width: 100%;
  display: grid;
}
