@import 'variables';

@mixin set-to-zero {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin block-border-box {
  box-sizing: border-box;
  display: block;
}

@mixin font-roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin font-ioniconic {
  font-family: 'ion icons', Wingdings;
}

.link-social {
  font-size: 12px;
  background-color: white;
  color: $light-blue;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;

  &:hover {
    background-color: $light-red;
    color: white;
  }

  i {
    font-size: 16px;
  }
}

.button {
  border: 0;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 3px;
  padding: 15px 25px;
  cursor: pointer;

  &.blue {
    background-color: $light-blue;
    filter: none;
  }
}

.section-title {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 30px 0;

  .title {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 34px;
  }

  .subtitle {
    font-weight: lighter;
    font-size: 14px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 2px;
    transform: translateY(-10px) translateX(-50%);
  }
}
