@import 'variables';

@mixin set-to-zero {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin block-border-box {
  box-sizing: border-box;
  display: block;
}

@mixin font-roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin  font-ioniconic {
  font-family: 'ion icons', Wingdings;
}
