//color set 1;
$green: #59981A;
$yellow-green: #ECF87F;
$lime-green: #81B622;
$olive-green: #3D550C;

//color set 2;
$green-2: #069604;
$dark-green: #0E6A04;
$olive: #4FA508;
$olive-drab: #7BB117;
$dark-sea-green: #85C88A;

//color set 3;
$olive-2: #6EAB08;
$forest-green: #416214;
$thistle: #E6DDD3;
$yellow-green: #94CE2D;
$dark-olive-green: #151A0B;

//color set 4;

$olive-3: #70AC05;
$olive-4: #679E08;
$forest-green-2: #416B1D;
$yellow-green: #C3CF45;
$saddle-brown: #242607;


//media breaks
$media-br-1: 768px;
$media-br-3: 1200px;
$media-br-4: 1400px;
