@import '../variables';
@import '../mixins';
@import '../common';

.dishes-section {
  @include set-to-zero;
  @include block-mixin($bg-color-5);
  padding: 4em 0;

  h2 {
    color: $base-f-color;
  }

  p {
    color: $base-f-color;
    width: 90%;
    padding: 2em 0;
    display: inline-block;
  }

  .meals {
    @include block-border-box;
    width: 80%;
    min-width: 300px;
    padding-top: 2em;
    margin: 0 auto;
  }

  .left,
  .right {
    @include block-border-box;
    @include set-to-zero;
    width: 100%;
  }

  .meal {
    @include set-to-zero;
    display: table;
    padding: 0 .2em 1em;
    width: 95%;

    img {
      width: 70px;
      border-radius: 50%;
      display: table-cell;
      vertical-align: middle;
    }

    h4 {
      @include set-to-zero;
      @include montserrat;
      color: $base-f-color;
      font-weight: 700;
      font-size: .9em;
      padding: 0 .2em;
      text-transform: uppercase;
      display: table-cell;
      vertical-align: top;

      span {
        @include average-font;
        width: 100%;
        display: block;
        text-transform: none;
        font-size: 1em;
        color: $color-fishy;
        font-weight: 400;
      }
    }

    strong {
      @include montserrat;
      display: table-cell;
      vertical-align: top;
      color: $base-f-color;
      font-weight: 700;
      font-size: .9em;
      text-transform: uppercase;
    }
  }

  @media screen {

    @media (min-width: $media-br-1) {

      p {
        width: 60%;
      }

      .meals {
        overflow: hidden;
        width: 95%;

        &::after {
          clear: both;
        }
      }

      .left,
      .right {
        width: 50%;
        float: left;
      }
    }

    @media (min-width: $media-br-2) {

      p {
        width: 40%;
      }

      .meals {
        width: 58em;
      }

      .meal {

        h4 {
          font-size: 1em;

          span {
            font-size: .8em;
          }
        }

        strong {
          font-size: 1em;
        }
      }

    }

    @media (min-width: $media-br-3) {

      .meals {
        width: 72em;
      }
    }
  }

}
