@import '../variables';
@import '../mixins';
@import '../common';

.footer {
  @include block-mixin($color-fishy);
  padding: .2em 0;

  small {
    width: 60%;
    display: inline-block;
  }

  ul {
    width: 30%;
    display: inline-block;
    list-style-type: none;

    li {
      display: inline-block;
    }
  }

  .link {

    @include font-awesome;
    color: $text-1;
    text-decoration: none;

    &::after {
      width: 2em;
    }

    &.link1 {

      &::after {
        content: $fa-var-heartbeat;
      }
    }

    &.link2 {

      &::after {
        content: $fa-var-file-text;
      }
    }

    &.link3 {

      &::after {
        content: $fa-var-fire;
      }
    }
  }

  @media screen {

    @media (min-width: $media-br-1) {
      padding: .2em 10%;
    }
  }
}
