@import '../variables';
@import '../mixins';
@import '../common';

.info-section {

  @include block-mixin($bg-color-2);
  text-align: center;

  p {
    color: $base-f-color;
    padding: 1em;
  }

  h2 {
    @include after-arrow;
    color: $base-f-color;

    &::after {
      height: 40px;
    }
  }

  button {
    @include button-mixin($bg-color-2, $color-fishy);
    font-size: .9em;
  }

  .description {
    width: 100%;
    padding: 8em .2em;
  }

  .images {
    display: none;
  }

  blockquote {
    @include block-mixin($bg-color-5);
    padding: 8em 0;

    text-align: center;

    q {
      color: $base-f-color;
      font-size: 2em;
      padding: 0 .12em;
    }

    footer {
      @include wildyouth;
      background-color: $bg-color-5;
      color: $color-fishy;
      font-size: 2em;
    }
  }

  @media screen {

    @media (min-width: $media-br-1) {

      text-align: left;

      h2 {
        color: $base-f-color;

        &::after {
          height: 40px;
          background-position: left bottom;
        }
      }

      p {
        color: $base-f-color;
        padding: 2em 0;
      }

      .container {
        @include set-to-zero;
        @include block-border-box;
        width: 100%;
        overflow: hidden;

        &::after {
          clear: both;
        }
      }

      .description {
        @include set-to-zero;
        @include block-border-box;
        float: left;
        width: 60%;
        padding: 8em 2em;
      }

      .images {
        @include set-to-zero;
        @include block-border-box;
        float: left;
        width: 40%;
        height: 40em;
        position: relative;

        img {
          width: 95%;
          height: auto;
          top: 30%;
          left: 5%;
          position: absolute;
        }

        .img-2 {

          transform: scale(.7, .7) rotateZ(-0deg) translateY(0%) translateX(0%);
          z-index: 1;
        }

        .img-1 {
          transform: scale(.8, .8) rotateZ(-6deg) translateY(30%) translateX(-10%);
          z-index: 2;
        }

        .img-3 {
          transform: scale(.7, .7) rotateZ(-12deg) translateY(40%) translateX(-20%);
          z-index: 3;
        }

        .img-4 {
          transform: scale(.6, .6) rotateZ(-18deg) translateY(90%) translateX(-30%);
          z-index: 4;
        }
      }
    }

    @media (min-width: $media-br-2) {

      .description {
        width: 50%;
        padding: 8em 0 8em 15%;
      }

      .images {
        width: 50%;

        img {
          width: 95%;
          top: 10%;
          left: 5%;
        }
      }
    }

    @media (min-width: $media-br-3) {

      .description {
        width: 40%;
        padding: 8em 0 8em 15%;
      }

      .images {
        padding-left: 3em;
        height: 47em;
        max-width: 700px;
        margin-left: 10%;

        img {
          top: 5%;
          left: 5%;
        }
      }
    }
  }
}
