@import '../variables';
@import '../mixins';
@import '../common';

.navbar {
  @include set-to-zero;
  @include block-border-box;
  width: 100%;
  padding: 1em .5em;
  background-color: $bg-color-1;
  color: $base-f-color;
  position: fixed;
  z-index: 35;
  transition-duration: 1s;

  .nav {

    .menu-headers {
      overflow: hidden;
      width: 100%;

      &::after {
        clear: both;
      }

      .logo {
        width: 44px;
        height: 44px;
        float: left;
      }

      .nav-btn {
        float: right;
        cursor: pointer;

        &::after {
          @include font-awesome;
          font-size: 2em;
          content: $fa-var-navicon;
        }
      }
    }

    .menu-items {
      @include set-to-zero;
      display: none;
      width: 100%;

      ul {
        display: block;
        list-style-type: none;
        width: 100%;

        li {
          display: list-item;
          text-align: center;
          padding: .5em 1em;

          a {
            @include montserrat;
            color: $base-f-color;
            font-weight: 700;
            font-size: .9em;
            padding: 0 .2em;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }

  @media screen {

    @media (min-width: $media-br-1) {

      .nav {
        overflow: hidden;

        &::after {
          clear: both;
        }

        .menu-headers {
          overflow: hidden;
          width: 45px;
          float: left;

          .nav-btn {
            display: none;
          }
        }

        .menu-items {
          display: block;
          width: 670px;
          float: right;

          ul {
            display: inline-block;
            width: 100%;

            li {
              display: inline-block;
            }
          }
        }
      }
    }

    @media (min-width: $media-br-2) {

      .nav {
        padding: 0 10%;

        .menu-items {
          width: 720px;
        }
      }
    }
  }
}
