@import '../variables';
@import '../mixins';
@import '../common';

.opening-section {
  @include block-mixin($bg-color-6);
  padding: 4em 0;

  h2 {
    padding-bottom: 1em;
  }

  h3 {
    @include montserrat;
    font-size: .9em;
    padding: 1.5em 0 .9em;
    text-transform: uppercase;
  }

  .info {
    @include set-to-zero;
    width: 95%;
    display: inline-block;

    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }

    .info {
      @include block-border-box;
      @include frame1($text-1);
      width: 100%;
      background-color: $base-f-color;
      text-align: center;
      display: inline-block;
      padding: 3em 0;
      border: 10px solid $base-f-color;

      @media screen and (min-width: $ie9hack) and (min-resolution: .001dpcm) {
        &::before {
          border-color: transparent;
        }
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &::before {
          border-color: transparent;
        }
      }
    }
  }

  @media screen {

    @media (min-width: $media-br-1) {

      .info {
        width: 100%;
        display: table;

        .img {
          display: table-cell;
        }

        img {
          display: block;
        }

        .info {
          display: table-cell;
          width: 350px;
          vertical-align: middle;
          padding: 0;
        }
      }
    }

    @media (min-width: $media-br-2) {

      .info {
        width: 85%;
        margin: 0 auto;

        .info {
          width: 360px;
        }
      }
    }

    @media (min-width: $media-br-3) {

      .info {
        width: 1100px;

        .info {
          width: 400px;
        }
      }
    }
  }
}
