//colors
$blue: #202242;
$yellow: #ffe13e;
$light-grey: #fbf8f1;
$lighter-grey: #faf9f9;
$grey: #696969;
$faint-grey: #a4a4a4;
$light-blue: #8d8d99;
$blueish: #363855;
//media breaks
$media-br-1: 768px;
$media-br-2: 992px;
$media-br-3: 1200px;
