@import '../variables';
@import '../mixins';

.footer {
  background-color: $light-blue;
  display: grid;
  justify-items: center;
  padding: 60px 0;

  .copy-info {
    color: white;
  }

  .social-links {
    padding: 20px 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    grid-column-gap: 10px;
  }
}
