@import '../variables';
@import '../mixins';

.pricing {
  display: grid;
  justify-items: center;
  padding: 60px 0;

  .section-title {

    .title {
      color: black;
    }

    .subtitle {
      color: $text-black;
    }

    &::after {
      background-color: $lighter-blue;
    }
  }
}
