@import '../variables';
@import '../mixins';

.short-description {
  background-color: $light-gray;
  display: grid;

  .activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    justify-self: center;
  }

  .description {
    display: grid;
    justify-items: center;
    padding: 80px 60px;
  }

  .desc-count {
    text-transform: uppercase;
    font-size: 20px;

    &::before {
      @include font-ioniconic;
      content: '';
      color: $light-red;
      margin-right: 10px;
      font-size: 25px;
    }

    &.projects {
      &::before {
        content: $ionicon-var-android-car;
      }
    }

    &.web {
      &::before {
        content: $ionicon-var-android-globe;
      }
    }

    &.hours {
      &::before {
        content: $ionicon-var-android-time;
      }
    }

    &.coffee {
      &::before {
        content: $ionicon-var-coffee;
      }
    }

  }
}
