@import '../variables';
@import '../mixins';

.small-bar {
  background-color: $light-blue;
  display: grid;
  grid-template-columns: 100px auto auto 100px;
}

.contact-info {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: start;
  justify-self: start;
  grid-column: 2 / 3;
  grid-column-gap: 15px;

  .info {
    color: white;
    font-size: 14px;
    display: inline-block;

    &.phone-number {

      &::before {
        @include font-ioniconic;
        content: $ionicon-var-ios-telephone;
        padding-right: 5px;
      }
    }

    &.email {

      &::before {
        @include font-ioniconic;
        content: $ionicon-var-email;
        padding-right: 5px;
      }
    }
  }
}

.links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: end;
  align-items: center;
  justify-items: end;
  list-style-type: none;
  grid-column: 3 / 4;
  grid-column-gap: 5px;

  .link {
    font-size: 12px;
    background-color: white;
    color: $light-blue;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: pointer;

    &:hover {
      background-color: $light-red;
      color: white;
    }

    i {
      font-size: 16px;
    }
  }
}
