@import 'variables';
@import 'mixins';
@import 'utils/fonts';

@include custom-font-mixin('Josefin Sans', 'josefinsans-regular', 400, normal, $path-josefine-fonts);
@include custom-font-mixin('Josefin Sans', 'josefinsans-semibold', 600, normal, $path-josefine-fonts);
@include custom-font-mixin('Josefin Sans', 'josefinsans-bold', 700, normal, $path-josefine-fonts);
@include custom-font-mixin('Josefin Sans', 'josefinsans-thin', 100, normal, $path-josefine-fonts);
@include custom-font-mixin('Josefin Sans', 'josefinsans-light', 300, normal, $path-josefine-fonts);

@include custom-font-mixin('Lato', 'lato-regular', 400, normal, $path-lato-fonts);
@include custom-font-mixin('Lato', 'lato-bold', 700, normal, $path-lato-fonts);
@include custom-font-mixin('Lato', 'lato-black', 900, normal, $path-lato-fonts);
@include custom-font-mixin('Lato', 'lato-light', 300, normal, $path-lato-fonts);
@include custom-font-mixin('Lato', 'lato-hairline', 100, normal, $path-lato-fonts);

@include custom-font-mixin('Liberation Sans', 'liberationsans-regular', 400, normal, $path-liberation-fonts);
@include custom-font-mixin('Liberation Sans', 'liberationsans-bold', 700, normal, $path-liberation-fonts);

@mixin lato-font {
  font-family: 'Lato', sans-serif;
}

@mixin josefin-fonts {
  font-family: 'Josefin Sans', sans-serif;
}

@mixin liberation-fonts {
  font-family: 'Liberation Sans', sans-serif;
}

*,
html,
body {
  @include set-to-zero;
  box-sizing: border-box;
}

@mixin h2-all {
  @include josefin-fonts;
  padding-top: 2em;
  font-weight: 700;
  font-size: 2em;
  width: 100%;
  color: $grey-2;
  @media screen {
    @media (min-width: $media-br-2) {
      font-size: 3.5em;
    }
  }
}

@mixin  p-all {
  @include block-border-box;
  @include lato-font;
  color: $grey-2;
  font-size: 1.1em;
  font-weight: 300;
  padding: 1em;
  text-align: left;
}
