@import 'variables';
@import 'mixins';
@import 'common';
@import 'utils/material-shadows';

@mixin animation-mixin($animation-name, $animation-duration: 4s) {
  animation-name: $animation-name;
  animation-duration: $animation-duration;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.navbar {
  .bottom-line {
    @include box-shadow-helper(1);
    background-color: white;
  }
}

.home-section {

  .video-play {
    height: auto;
    width: 70%;
    opacity: 1;

    @media screen {
      @media (min-width: $video-br-1) {
        width: 55%;
      }
      @media (min-width: $video-br-2) {
        width: 45%;
      }

      @media (min-width: $media-br-1) {
        width: 35%;
      }

      @media (min-width: $media-br-2) {
        width: 45%;

      }

      @media (min-width: $video-br-3) {
        width: 35%;
      }

      @media (min-width: $media-br-3) {
        width: 580px;
      }
    }
  }

  .button-play {
    &::after {
      background-image: url('../images/stop-btn.png');
    }
  }
}

.welcome-section {

  .title {
    .small-animation {
      animation-name: smallAnim;
      animation-duration: 10s;
      animation-timing-function: ease;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
    }

    .span-animation {
      display: inline-block;
      animation-name: titleAnim;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-timing-function: ease-in;
      animation-fill-mode: both;
      transform-origin: 50% 70%;
    }
  }

  .slider {

    .slide {

      &.to-top {
        display: block;
        z-index: 5;
      }

      &.previous {
        display: block;
        z-index: 3;
      }

      .panel {

        &.slide-panel {
          animation-name: panelAnim;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-iteration-count: 1;
          animation-fill-mode: both;
        }
      }
    }
  }
}

.products-section {

  .image-tosser {
    .go-right {
      @include animation-mixin(imageRight);
    }

    .go-right-back {
      @include animation-mixin(imageRightRev, 1s);
    }

    .go-left {
      @include animation-mixin(imageLeft);
    }

    .go-left-back {
      @include animation-mixin(imageLeftRev, 1s);
    }

    .transform-1 {
      @include animation-mixin(image-Tr-1, 1s);
    }

    .transform-bck-1 {
      @include animation-mixin(image-TrRev-1, .5s);
    }

    .transform-2 {
      @include animation-mixin(image-Tr-2, 1s);
    }

    .transform-bck-2 {
      @include animation-mixin(image-TrRev-2, .5s);
    }

    .transform-3 {
      @include animation-mixin(image-Tr-3, 1s);
    }

    .transform-bck-3 {
      @include animation-mixin(image-TrRev-3, .5s);
    }

    .transform-4 {
      @include animation-mixin(image-Tr-4, 1s);
    }

    .transform-bck-4 {
      @include animation-mixin(image-TrRev-4, .5s);
    }

    .transform-5 {
      @include animation-mixin(image-Tr-5, 1s);
    }

    .transform-bck-5 {
      @include animation-mixin(image-TrRev-5, .5s);
    }
  }
}

@keyframes image-Tr-1 {
  0% {
  }

  100% {
    transform: scale(1.35, 1.35) translateX(15%) translateY(-30%);
  }
}

@keyframes image-TrRev-1 {

  0% {
    transform: scale(1.35, 1.35) translateX(15%) translateY(-30%);
  }

  100% {
  }
}

@keyframes image-Tr-2 {
  0% {
  }

  100% {
    transform: scale(1.2, 1.2) translateX(-65%) translateY(-100%) rotateZ(-5deg);
  }
}

@keyframes image-TrRev-2 {
  100% {
  }

  0% {
    transform: scale(1.2, 1.2) translateX(-65%) translateY(-100%) rotateZ(-5deg);
  }
}

@keyframes image-Tr-3 {
  0% {
  }

  100% {
    transform: scale(1.2, 1.2) translateX(70%) translateY(-90%) rotateZ(5deg);
  }
}

@keyframes image-TrRev-3 {
  100% {
  }

  0% {
    transform: scale(1.2, 1.2) translateX(70%) translateY(-90%) rotateZ(5deg);
  }
}

@keyframes image-Tr-4 {
  0% {
  }

  100% {
    transform: scale(1.2, 1.2) translateX(-60%) translateY(20%) rotateZ(-9deg);
  }
}

@keyframes image-TrRev-4 {
  100% {
  }

  0% {
    transform: scale(1.2, 1.2) translateX(-60%) translateY(20%) rotateZ(-9deg);
  }
}

@keyframes image-Tr-5 {
  0% {

  }

  100% {
    transform: scale(1.2, 1.2) translateX(80%) translateY(30%) rotateZ(10deg);
  }
}

@keyframes image-TrRev-5 {
  100% {

  }

  0% {
    transform: scale(1.2, 1.2) translateX(80%) translateY(30%) rotateZ(10deg);
  }
}

@keyframes image-right-rev {
  0% {
    transform: scale(1.2, 1.2) translateX(2000px);
  }

  10% {
    transform: scale(1.2, 1.2) translateX(600px);
  }

  30% {
    transform: scale(1, 1);
  }
}

@keyframes image-right {
  5% {
    transform: rotateY(0);
  }

  10% {
    transform: scale(1, 1);
  }

  20% {
    transform: scale(1.2, 1.2);
  }

  80% {
    transform: scale(1.2, 1.2) translateX(600px);
  }

  100% {
    transform: scale(1.2, 1.2) translateX(2000px);
  }
}

@keyframes image-left {
  5% {
    transform: rotateY(0);
  }

  10% {
    transform: scale(1, 1);
  }

  20% {
    transform: scale(1.2, 1.2);
  }

  80% {
    transform: scale(1.2, 1.2) translateX(-600px);
  }

  100% {
    transform: scale(1.2, 1.2) translateX(-2000px);
  }
}

@keyframes image-left-rev {
  0% {
    transform: scale(1.2, 1.2) translateX(-2000px);
  }

  10% {
    transform: scale(1.2, 1.2) translateX(-600px);
  }

  30% {
    transform: scale(1, 1);
  }
}

@keyframes title-anim {
  0% {
    transform: rotateX(90deg);
  }

  7% {
    transform: rotateX(-30deg);
  }

  10% {
    transform: rotateX(0deg);
  }

  90% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(270deg);
  }
}

@keyframes small-anim {
  0% {
    opacity: 0;
    transform: translateX(-5000px);
  }

  7% {
    opacity: 1;
  }

  10% {
    transform: translateX(0);
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes panel-anim {
  100% {
    transform: translateY(0) translateX(0);
  }
}
