
$path-fonts: '../fonts/';
$path-lato-fonts: '#{$path-fonts}Lato/';
$path-liberation-fonts: '#{$path-fonts}Liberation_Sans/';
$path-josefine-fonts: '#{$path-fonts}Josefin_Sans/';

$grey: #535353;
$grey-2: #626262;
$grey-3: #d3d3d3;
$grey-4: #454545;
$grey-5: #b7b7b7;
$white: #f7f7f7;
$white-2: #f4f4f4;
$light-grey: #ebebeb;
$grey-6: #d6d6d6;

//media-breaks
$media-br-1: 772px;
$media-br-2: 992px;
$media-br-3: 1200px;
$media-br-4: 1650px;

$video-br-1: 410px;
$video-br-2: 610px;
$video-br-3: 1400px;
