@import './scss/variables';
@import './scss/mixins';


*,
html,
body {
  @include set-to-zero;
  @include font-roboto;
  box-sizing: border-box;
}

.app-header {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.header-letters {
  @include font-anton;
  text-transform: uppercase;
  font-size: 90px;
}

.header-img-1 {

  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;

  &:hover {

    .background-rect-image {
      fill: #57f897;
    }

    .monitor-pencils {
      fill: #f85fc8;
    }

  }

  .background-rect-image {
    width: 100%;
    height: 100%;
    fill: #fff531;
    transition-duration: .5s;
  }

  .monitor-pencils {
    fill: black;
  }
}

.header-img-2 {

  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  height: 50%;

  .background-rect-operations {
    width: 100%;
    height: 100%;
    fill: #f64075;
    transition-duration: .5s;
  }

  .images {
    fill: black;
  }

  &:hover {

    .background-rect-operations {
      fill: #694bff;
    }

    .images {
      fill: #fdf208;
    }
  }
}

.header-text-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;

  .rect-1 {
    transform: skewY(-15deg) translateY(0) rotate(10deg) translateX(-7px);
    transform-origin: calc(423px + 85px) calc(30px + 60px);
  }

  .rect-2 {
    transform: skewY(12deg) skewX(0) translateY(3px) rotate(-7deg) translateX(0);
    transform-origin: calc(456px + 60px) calc(153px + 65px);
  }

  .rect-3 {
    transform: skewY(0) skewX(12deg) translateY(0) rotate(6deg) translateX(-2px);
    transform-origin: calc(400px + 110px) calc(285px + 62.5px);
  }

}

.header-text-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;

  .header-letters {
    fill: white;
  }

  .rect-1 {
    transform: skewY(-3deg) translateY(8px) rotate(6deg) translateX(4px);
    transform-origin: calc(280px + 250px) calc(60px + 65px);
  }

  .rect-2 {
    transform: skewY(-10deg) translateY(-8px) rotate(3deg) translateX(-6px);
    transform-origin: calc(444px + 85px) calc(190px + 60px);
  }

  .rect-3 {
    transform: skewY(4deg) translateY(-11px) rotate(-8deg) translateX(-15px);
    transform-origin: calc(280px + 250px) calc(310px + 65px);
  }


}


.main {
  width: 100%;
  height: 100vh;
  background-color: magenta;
  overflow: hidden;
  position: relative;
}

.site-snapshot {
  position: absolute;
  width: 200px;
  height: 200px;
  display: none;
  transform-origin: 50% 50%;

  &.img-1 {
    display: block;
    left: calc(#{$left-base} + 2%);
    top: calc(#{$top-base} - 2%);
    transform: rotateZ(45deg);
  }

  &.img-2 {
    display: block;
    left: calc(#{$left-base} + 8%);
    top: calc(#{$top-base});
    transform: rotateZ(15deg);
  }

  &.img-3 {
    display: block;
    left: calc(#{$left-base} + 12%);
    top: calc(#{$top-base} - 2%);
    transform: rotateZ(-21deg);
  }

  &.img-4 {
    display: block;
    left: calc(#{$left-base} + 13%);
    top: calc(#{$top-base} - 12%);
    transform: rotateZ(-70deg);
  }


  &.img-5 {
    display: block;
    left: calc(#{$left-base} + 11%);
    top: calc(#{$top-base} - 20%);
    transform: rotateZ(-120deg);
  }

  &.img-6 {
    display: block;
    left: calc(#{$left-base} + 10%);
    top: calc(#{$top-base} - 28%);
    transform: rotateZ(-155deg);
  }

  &.img-7 {
    display: block;
    left: calc(#{$left-base} + 6%);
    top: calc(#{$top-base} - 22%);
    transform: rotateZ(-185deg);
  }

  &.img-8 {
    display: block;
    left: calc(#{$left-base});
    top: calc(#{$top-base} - 20%);
    transform: rotateZ(-205deg);
  }

  &.img-9 {
    display: block;
    left: calc(#{$left-base} - 1%);
    top: calc(#{$top-base} - 9%);
    transform: rotateZ(-285deg);
  }

  &.img-10 {
    display: block;
    left: calc(#{$left-base} + 6%);
    top: calc(#{$top-base} - 11%);
    transform: rotateZ(-15deg) scale(1.5);
  }

}

.img-viewer {
  position: absolute;
  width: 800px;
  height: 800px;
  left: 5%;
  top: 5%;
}

.img-phone {
  position: absolute;
  left: 43%;
  top: 46%;
  z-index: 10;
  width: 400px;
  height: 400px;
}

.footer {
  text-align: center;
  background-color: #57f897;
  padding: 4em;
}


