@import './scss/variables';
@import './scss/mixins';

*,
html,
body {
  @include set-to-zero;
  box-sizing: border-box;
}


.app-header {
  width: 100%;
}

.main {
  width: 100%;
}

img {
  width: auto;
  height: 100vh;
}

